@font-face {
    font-family: "Quaky";
    src: url("Quaky.ttf") format("truetype");
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Quaky", sans-serif;
}

.video-container {
    position: relative;
    height: 100%;
    overflow: hidden;
}

video#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.centered-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered-image img {
    max-width: 100%;
    max-height: 100%;
}
